body {
  font-family: "Poppins", sans-serif;
}

input {
  background-color: rgba(221, 177, 150, 0.1);
  border-radius: 8px;
  top: 2px;
  border: 1.5px solid #77825c;
  position: relative;
  left: 160px;
}
input[type="text"] {
  width: 40%;
  display: inline;
}
input[type="submit"]:hover {
  transition: all, ease-in-out, 200ms;
  color: gray;
  border-color: #96a179;
  background-color: rgba(246, 214, 199, 0.1);
}
H6 {
  text-align: center;
  font-weight: 800;
}

.outside-box {
  border: 3px solid #7f3d1d;
  border-radius: 6px;
  width: 720px;
  height: 375px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(246, 214, 199, 0.5);
  padding: 10px;
}
.datetime {
  position: relative;
  left: 70px;
}
#time {
  display: inline;
}
#day {
  display: inline;
}
#description {
  text-transform: capitalize;
}
.current-city {
  position: relative;
  bottom: 35px;
  left: 127px;
  font-size: 30px;
}
.degreeButton {
  display: inline;
  font-size: 28px;
  border: 0px;
  background-color: transparent;
  position: relative;
  right: 12px;
  bottom: 1.5px;
}

.preciphumidity {
  position: relative;
  left: 150px;
  bottom: 96px;
}
.future {
  font-size: 12px;
}
.card {
  border: 1px solid #77825c;
  border-radius: 8px;
  position: relative;
  bottom: 80px;
  background-color: rgba(221, 177, 150, 0.3);
  font-size: 15px;
  text-align: left;
}
.future-temp {
  text-align: center;
  margin: 5px 5px;
}
